* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}
#topBar {
  position: sticky;
  top: 0;
  z-index: 1000;
}
.topBar {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  align-items: center;
  background-color: #fdfdfd;
  font-family: sans-serif;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.header {
  display: flex;
  align-items: center;
}

.header > img {
  width: 26px;
  height: 26px;
}

.title {
  font-size: x-large;
}

.title > :last-child {
  color: #fc4810;
}

ul {
  list-style: none;
  display: flex;
}

li {
  padding: 6px;
}

a {
  color: black;
  text-decoration: none;
  font-size:small;
  font-weight:bolder;
}

nav ul li a.active {
  color: #f97316;
  font-weight: bold;
}

.searchBar {
  display: flex;
  align-items: center;
  padding: 6px 16px;
  gap: 2px;
  background-color: #f2f2f2;
  border-radius: 4px;
  cursor: pointer;
}

.searchBar > :first-child {
  border: none;
  outline: none;
  background-color: #f2f2f2;
  padding: 2px;
  font-size: smaller;
}

.searchBar > :last-child {
  width: 16px;
  height: 16px;
}

.nav_icons {
  display: flex;
  gap: 24px;
}
.icon-container {
  position: relative;
  display: inline-block;
}

.badge {
  position: absolute;

  top: -8px;
  right: -8px;

  width: 18px;
  height: 18px;

  background: #fc4810;
  color: white;

  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 11px;
  font-weight: bold;
}

.icons {
  cursor: pointer;
  width: 18px;
  height: 18px;
}

/* Banner */
.banner {
  display: flex;
  width: 100%;
  position: relative;
}

img {
  width: 100%;
  height: 60vh;
  display: block;
}

.banner > div {
  display: flex;
  position: absolute;
  top: 50%;
  width: 100%;
  justify-content: space-between;
  padding: 16px;
}

.banner > div > button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 4;
}

.banner > div > :first-child {
  transform: scale(-1);
}

.banner > div > button > img {
  width: 20px;
  height: 20px;
}

.banner >.position{
  position: absolute;
  left: 50%;
  top: 86%; 
}
.banner>.position{
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 2px;
  gap: 4px;
  border-radius: 2px;
  
}
.pos-index {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #afb1b2;
}

.pos-index.active {
  background: #fc4810;
}

.banner > :last-child {
  display: flex;
  gap: 4px;
  position: absolute;
  left: 22%;
  top: 86%;
  transform: translateX(-50%);
  background-color: #fd5409;
  padding: 16px;
  border-radius: 8px;
  outline: none;
  border: none;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  bottom: 2%;
  cursor: pointer;
}

.banner > :last-child > :first-child {
  width: 18px;
  height: 18px;
}

/* Shop Category */
.shop-category {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 2px;
}

.shop-category > :first-child {
  font-family: sans-serif;
  font-weight: 800;
  font-size: x-large;
}

.cart-row {
  display: flex;
  gap: 16px;
}

.cart {
  margin-bottom: 10px;
  padding: 4px;
  width: 200px;
  background-color: #e1e1e1;
  border-radius: 16px;
  cursor: pointer;
}

.cart > :first-child {
  width: 100%;
  height: 120px;
  object-fit: contain;
}
.cart > :last-child {
  text-align: center;
  font-family: sans-serif;
  font-weight: 600;
}
