* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}
#topBar {
  position: sticky;
  top: 0;
  z-index: 1000;
}
.topBar {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  align-items: center;
  background-color: #fdfdfd;
  font-family: sans-serif;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.header {
  display: flex;
  align-items: center;
}

.header > img {
  width: 26px;
  height: 26px;
}

.title {
  font-size: x-large;
}

.title > :last-child {
  color: #fc4810;
}

ul {
  list-style: none;
  display: flex;
}

li {
  padding: 6px;
}

a {
  color: black;
  text-decoration: none;
  font-size: small;
  font-weight: bolder;
}

nav ul li a.active {
  color: #f97316;
  font-weight: bold;
}

.searchBar {
  display: flex;
  align-items: center;
  padding: 6px 16px;
  gap: 2px;
  background-color: #f2f2f2;
  border-radius: 4px;
  cursor: pointer;
}

.searchBar > :first-child {
  border: none;
  outline: none;
  background-color: #f2f2f2;
  padding: 2px;
  font-size: smaller;
}

.searchBar > :last-child {
  width: 16px;
  height: 16px;
}

.nav_icons {
  display: flex;
  gap: 24px;
}
.icon-container {
  position: relative;
  display: inline-block;
}

.badge {
  position: absolute;

  top: -8px;
  right: -8px;

  width: 18px;
  height: 18px;

  background: #fc4810;
  color: white;

  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 11px;
  font-weight: bold;
}

.icons {
  cursor: pointer;
  width: 18px;
  height: 18px;
}

/* Banner */
.banner {
  display: flex;
  width: 100%;
  position: relative;
}

img {
  width: 100%;
  height: 60vh;
  display: block;
}

.banner > div {
  display: flex;
  position: absolute;
  top: 50%;
  width: 100%;
  justify-content: space-between;
  padding: 16px;
}

.banner > div > button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 4;
}

.banner > div > :first-child {
  transform: scale(-1);
}

.banner > div > button:hover {
  border: 2px solid black;
}

.banner > div > button > img {
  width: 20px;
  height: 20px;
}

.banner > .position {
  position: absolute;
  left: 50%;
  top: 86%;
}
.banner > .position {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 2px;
  gap: 4px;
  border-radius: 2px;
}
.pos-index {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #afb1b2;
}

.pos-index.active {
  background: #fc4810;
}

.banner > :last-child {
  display: flex;
  gap: 4px;
  position: absolute;
  left: 22%;
  top: 86%;
  transform: translateX(-50%);
  background-color: #fd5409;
  padding: 16px;
  border-radius: 8px;
  outline: none;
  border: none;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  bottom: 2%;
  cursor: pointer;
}

.banner > :last-child > :first-child {
  width: 18px;
  height: 18px;
}

/* Shop Category */
.shop-category,
.featured-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 2px;
}

.shop-category > :first-child,
.featured-products > :first-child,
.services > :first-child {
  font-family: sans-serif;
  font-weight: 800;
  font-size: x-large;
}

.cart-row,
.featured-cart-row {
  display: flex;
  gap: 16px;
}

.cart {
  margin-bottom: 10px;
  padding: 4px;
  width: 200px;
  background-color: #e1e1e1;
  border-radius: 16px;
  cursor: pointer;
}

.cart > :first-child {
  width: 100%;
  height: 120px;
  object-fit: contain;
}
.cart > :last-child {
  text-align: center;
  font-family: sans-serif;
  font-weight: 600;
}

/* Featured products cart*/
.featured-products > :first-child {
  text-align: center;
}
.featured-cart-row {
  gap: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.featured-products-cart {
  margin-bottom: 10px;
  padding: 16px;
  width: 200px;
  background-color: #f9fafa;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.2);
}

.cart-image-container {
  padding: 4px;
  position: relative;
  background-color: #f4f4f5;
  border-radius: 8px;
}

.cart-image-container > :first-child {
  background-color: #f83632;
  padding: 4px 4px;
  border-radius: 2px;
  width: fit-content;
  font-family: sans-serif;
  font-size: small;
  font-weight: 600;
  color: white;
  z-index: 10px;
}

.cart-image-container > .cart-image {
  width: 100%;
  height: 150px;
  object-fit: contain;
}

.cart-image-container > :last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 85%;
  top: 5%;
  padding: 6px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.2);
  z-index: 10px;
}

.cart-image-container > :last-child > :first-child,
.featured-products-cart > :last-child > :first-child {
  width: 16px;
  height: 16px;
}

.product-details {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.product-details > .cart-title {
  font-family: sans-serif;
  font-weight: 700;
  font-size: medium;
}

.rating,
.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  font-family: sans-serif;
  font-size: 24px;
}

.vote {
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 500;
  padding-left: 4px;
  color: rgb(136, 134, 134);
}

.price {
  font-weight: 600;
  gap: 10px;
}

.oldPrice {
  text-decoration: line-through;
  font-size: 14px;
  color: rgb(165, 160, 160);
}

.featured-products-cart > :last-child {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding: 10px;
  background-color: #f1f1f1;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  font-family: sans-serif;
  margin-top: 12px;
}

/* Flash Banner */
.flash-banner {
  padding: 4px 28px;
}

.time-banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 8px;
  height: fit-content;
  border-radius: 8px;
  background: linear-gradient(#fc5816, #f71f51);
}
.time-banner > :first-child {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.time-banner > :first-child > :first-child {
  width: 60px;
  height: 60px;
}
.time-banner > :first-child > :nth-child(2) > :first-child {
  font-family: sans-serif;
  font-size: x-large;
  font-weight: bold;
  color: white;
}

.time-banner > :first-child > :nth-child(2) > :last-child {
  font-family: sans-serif;
  font-size: large;
  font-weight: 600;
  color: white;
}

.time-container {
  display: flex;
  gap: 24px;
}

.time-box {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 16px 24px;
  font-family: sans-serif;
  font-size: x-large;
  font-weight: bolder;
  border-radius: 6px;
}

.time-box > :first-child {
  display: flex;
  gap: 8px;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.time-box > :first-child > :last-child {
  font-weight: 600;
  font-size: medium;
}

.time-banner > :last-child > :first-child {
  display: flex;
  cursor: pointer;
  padding: 10px 18px;
  border-radius: 4px;
  border: none;
  font-family: sans-serif;
  font-weight: 600;
  font-size: medium;
  color: #fd0c26;
  gap: 8px;
  background-color: white;
  align-items: center;
  justify-content: space-between;
}

.time-banner > :last-child > :first-child > img {
  width: 20px;
  height: 28px;
}

.services {
  text-align: center;
  margin-bottom: 8px;
}

.services > :last-child {
  display: flex;
  justify-content: space-around;
  padding:16px 16px;
}

.services > :last-child > div {
  margin-bottom: 10px;
  padding: 16px;
  width: 260px;
  background-color: #f9fafa;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.2);
}

.title-service {
  font-family: sans-serif;
  font-size: medium;
  font-weight: bolder;
  padding: 3px;
}
.service-content{
  font-family: sans-serif;
  font-size: small;
  font-weight: 500;
}

.services > div:last-child > div > img {
  width: 44px;
  height: 44px;
}