<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <title>Banner</title>
  </head>
  <body>
    <div class="banner">
      <img id="banner-image" src="./images/banner.jpg" alt="banner" />
      <div>
        <button id="left-btn">
          <img src="./images/arrowNext.png" alt="arrow" />
        </button>
        <button id="right-btn">
          <img src="./images/arrowNext.png" alt="arrow" />
        </button>
      </div>
      <button id="shop-now">Shop Now<img src="./images/arrow.png" alt="arrow" /></button>
    </div>
    <script src="../js/script.js""></script>
  </body>
</html>
