<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NavBar</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <div class="topBar">
      <div class="header">
        <img src="/images/shopingBagLogo.png" alt="Logo" />
        <h1 class="title"><span>Shop</span><span>Ease</span></h1>
      </div>
      <nav>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="products.html">Products</a></li>
          <li><a href="categories.html">Categories</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </nav>
      <div class="searchBar">
        <input
          type="text"
          name="Search Products"
          placeholder="Search products..."
          id="searchBar"
        />
        <img src="/images/search.png" alt="search" />
      </div>
      <div class="nav_icons">
        <div class="icon-container">
          <img class="icons" src="./images/favorite.png" alt="favorite" />
          <span class="badge">3</span>
        </div>
        <div class="icon-container">
          <img class="icons" src="./images/shoppingCart.png" alt="favorite" />
          <span class="badge">3</span>
        </div>
        <img class="icons" src="./images/profile.png" alt="profile" />
      </div>
      <div></div>
    </div>
  </body>
</html>
